.fp-tabs {
	list-style: none;
	padding: 0 15px;
	margin: 15px -15px 0;
	border-bottom: 1px solid #ccc;
}

.customize-control .fp-tabs {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

.fp-tabs li {
	display: inline-block;
	margin: 0;
}

.fp-tab-item {
	display: block;
	color: currentColor;
	font-weight: 600;
	padding: 7px 8px;
	opacity: 0.4;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 2px 2px 0 0;
	margin-bottom: -1px;
	cursor: pointer;
}

.fp-tab-item:focus,
.fp-tab-item:hover {
	color: currentColor;
	opacity: 0.6;
}

.fp-tab-item.active {
	border-color: #ccc;
	border-bottom-color: #fff;
	opacity: 1;
}

.fp-tab:not(.active) {
	display: none;
}
